/* ########################################
              TOUR DE FRANCE
######################################## */

h2 {
    font-size: larger;
}

section p {
    text-align: left;
}

p img {
    width: 100%;
    margin: 10px;
}

@media screen and (min-width:1200px) {
    .blog {
        margin: auto;
        padding: auto;
        height: 500px;
    }
    
    .blog p {
        /* display: inline-block;
        width: 20%;
        border: 1px solid #111111;
        padding: 10px; */

    }
}

