/* ########################################
              TOUR DE FRANCE
######################################## */

h2 {
    font-size: larger;
}

section p {
    text-align: left;
}

p img {
    width: 100%;
    margin: 10px;
}

@media screen and (min-width:1200px) {
    .blog {
        margin: 20px;
        padding: auto;
        height: 500px;
        margin-bottom: 50px;
    }

    .blog img {
        height: 250px;

    }
    
    .blog p {
        float: left;
        padding: 10px;

    }
}

