/* #################################
            CONTACT
################################# */

#mail {

}

#mail a {
    text-decoration: none;
    color: #111111;
    opacity: 0.8;
}

#mail a:hover {
    opacity: 1;
}

#formulaire {
    height: 500px;
    width: 1000px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-gap: 10px;
    background-color: yellow;
    
}

.name {
    grid-column: span 1;
    background-color: #e5e5e5;
    text-align: left;
    margin: 15px;
    font-size: 18px;
}

.mail-message {
    grid-column: span 2;
    background-color: #e5e5e5;
    text-align: left;
    margin: 15px;
    font-size: 18px;
}
